<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Repositories List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let repository of repositories; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRepository(repository, i)"
      >
        {{ repository.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllRepositories()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentRepository">
      <h4>Repository</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentRepository.name }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentRepository.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentRepository.enabled ? "Enabled" : "Pending" }}
      </div>
      <span class="badge badge-primary">Primary</span>
      <a class="badge badge-warning" routerLink="/repositories/{{ currentRepository.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentRepository">
      <br />
      <p>Please click on a Repository...</p>
    </div>
  </div>
</div>
