.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
nav ul{height:400px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}

.list-group-item-detail {
  text-align: left;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}